body {
 margin:0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.carte {
    width:90%;
    max-width:500px;
    margin:auto;
    margin-top:15px;
}

.card-h2 {
    margin: 0;
}

.card-padding {
    padding: 1rem;
}

.card-texte {
    text-align: justify;
    padding-top: 0;
    padding-bottom: 8;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto";
}

#img-accueil {
    background-image: url("../img/soiree.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.organizer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.organizer > * {
    margin:15px;
}

.list {
    display: flex;
}

.demo-card {
    width:250px;
    margin:15px;
}

.demo-card__primary {
    padding:15px;
}

.demo-card__secondary {
    padding:15px;
}